#Application : Amazon Prime Video

#Z-Test

The average no of views for the telugu movies streaming in amazon prime is 4k. These numbers have a standard deviation of 150. for the past 3 months, it has been observed that the average views for a sample of 35 telugu movies is 4500 views.Whether the views for this ott platform has increased? Perform a hypothesis test. 
significance level has alpha=0.05

Null hypothesis: Average no of views for the movies streaming in Amazon Prime video is remains same or decreased(i.e,still around 4000).
Ho : mu <= 4000

Alternate hypothesis: Average no of views for the movies streaming in Amazon Prime video has been increased.
Ha : mu > 4000

Perform right tailed test

In [ ]:
import numpy as np
import scipy.stats as st

In [ ]:
n = 35
xbar = 4500
mu = 4000
sigma = 150
alpha = 0.05

In [ ]:
z_critical = abs(st.norm.ppf(alpha))
z_critical

1.6448536269514729

In [ ]:
z = (xbar-mu)/(sigma/np.sqrt(n))
z

19.720265943665385

In [ ]:
if (z < z_critical): 
    print("Fail to Reject null hypothesis")
else:
    print("Reject null hypothesis")

Reject null hypothesis

Conclusion : We have enough evidence to support alternate hypothesis and to reject null hypothesis. Average no of views for the movies streaming in Amazon Prime video has been increased.

#T-Test

The average no of views for the telugu movies streaming in amazon prime is 2000. These numbers have a standard deviation of 100. for the past 3 months, it has been observed that the average views for a sample of 17 telugu movies is 2300 views.Whether the views for this ott platform has increased? Perform a hypothesis test. 
significance level has alpha=0.05

Null hypothesis: Average no of views for the movies streaming in Amazon Prime video is remains same or decreased(i.e,still around 2000).
Ho : mu <= 2000

Alternate hypothesis: Average no of views for the movies streaming in Amazon Prime video has been increased.
Ha : mu > 2000

Perform t-test

In [1]:
n = 17
degrees_of_freedom = n-1
xbar = 2300
mu = 2000
s = 100
alpha = 0.05

In [2]:
import numpy as np
import scipy.stats as st

In [3]:
t = (xbar - mu)/(s / np.sqrt(n))
t

12.36931687685298

In [4]:
p_val = (1 - st.t.cdf(abs(t), degrees_of_freedom))  #"1 - cdf" because it's a right-tailed test
p_val

6.622788983889905e-10

In [5]:
if (p_val > alpha):
    print("Null hypothesis cannot be rejected")
else:
    print("Reject null hypothesis")

Reject null hypothesis

Conclusion : We have enough evidence to support alternate hypothesis and to reject null hypothesis. Average no of views for the movies streaming in Amazon Prime video has been increased.